<%- include('partials/header') %>
<div class="cardsContainer">
    <h2>Cette page ne peux être affichée car un problème est survenue lors de l'execution</h2>
</div>
<%- include('partials/footer') %>
